<% if flash[:notice] %>
  <p><%= flash[:notice]%></p>
<% end %>
<div class="wrapper"> 
  <div class="searchBox">
    <div class="searchBox__icon">
    </div>
  </div>
  <div class="main">
  <% @tweets.each do |tweet| %>
    <div class="main__content">
      <div class="main__content__top-image">
        <div class="main__content__top-image__icon">
          <%=image_tag tweet.user.image.url ,class:"icon_image"%>
        </div>
      </div>
      <div class="main__content__box">
        <div class="main__content__box__image">
          <div class="main__content__box__image__choice">
            <%= image_tag "#{new_image(tweet).image}", class: "new-item" %>
          </div>
          <div class="main__content__box__image__sub">
            <% @images.each do |image| %>
            <%= image_tag image.image.url,class:"image_sub"%>
            <% end %>
          </div>
        </div>
        <div class="main__content__box__text">
          <div class="main__content__box__text__name">
            <p><%= tweet.user.name %></P>
          </div>
          <div class="main__content__box__text__message">
            <%= tweet.body%>
          </div>
        </div>
      </div>
      <div class="main__content__btns">
        <div class="main__content__btns__follower"></div>
        <div class="main__content__btns__favorite">
          <% if user_signed_in? %>
            <% if tweet.favorited_by?(current_user) %> <!-- ログインしているユーザーがファボしたかどうかで分岐 -->
                <p><span>お気に入り解除: </span><%=link_to tweet.favorites.count, tweet_favorites_path(tweet.id), method: :delete%></p>
              <% else %>
                <p><span>お気に入り登録: </span><%=link_to tweet.favorites.count, tweet_favorites_path(tweet.id), method: :post %></p>
            <% end %>
          <% else %>
            <p><span>お気に入り数: </span><%= tweet.favorites.count %></p>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
<%=render partial:"footer"%>