<% if flash[:notice] %>
<div class="tweet_flash">
  <p><%= flash[:notice]%></p>
</div>
<% end %>
<div class="contents">
  <div class="contents__form">
    <div class="contents__form__box">
      <div class="contents__form__box__title">
        <h2>投稿</h2>
      </div>
      <div class="contents__form__box__text">
        <%= form_for @tweet do |f|%>
          <%= f.text_area :body,placeholder: "140文字以内であなたの気持ちを呟こう"%>
      </div>
      <div class="contents__form__box__file">
        <p>＊画像は３枚まで投稿できます</p>
        <%= f.fields_for :image do |i| %>
          <%= i.file_field :image, type: 'file', name: "tweet[images_attributes][][image]", value:"", id:"img-file" %>
          <%= i.file_field :image, type: 'file', name: "tweet[images_attributes][][image]", value:"", id:"img-file" %>
          <%= i.file_field :image, type: 'file', name: "tweet[images_attributes][][image]", value:"", id:"img-file" %>
      </div>
      <div class="submit">
        <%=f.submit "保存する",{class: "btn"}%>
      </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>