<div class="show-contents__box__return">
  <%= link_to root_path do%>
    <i class="far fa-window-close fa-3x my-retrun"></i>
  <% end %>
</div>

<div class="show-contents">
  <div class="show-contents__box">
    <div class="show-contents__box__main">
      <div class="show-contents__box__main__images">
        <div class="message__image__images__main">
          <%= image_tag @first_image.image.url, class: "image-main" %>
        </div>
        <div class="message__image__images__subs">
          <% @images.each do |image|%>
          <div class="message__image__images__subs__thumb">
            <%= image_tag "#{image.image}",class: "image_subs"%>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="show-contents__box__text">
      <div class="show-contents__box__text__content">
        <div class="show-contents__box__text__content__memo">
          <p>MEMO:</p>
        </div>
        <div class="show-contents__box__text__content__detail">
          <%= @tweets.body%>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <% if current_user %>
    <%= form_with(model: [@tweets, @comment], local: true,id:"new_comment") do |form| %>
  <div class="text_area">
    <%= form.text_area :text, placeholder: "コメントする", rows: "2",class: "textbox" %>
  </div>
  <div class="send_btn">
    <%= form.submit "SEND",class: "form__submit"%>
  </div>
  <% end %>
  <% else %>
    <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
  <% end %>
</div>

<div class="comments">
  <div class="comments__text">
  <% if @comments %>
  <% @comments.each do |comment| %>
    <div class="comments__text__js">
      <p class="comment-text">
      <strong class="strong__name"><%=comment.user.name%>：</strong>
        <%= comment.text %>
      </p>
    <div>
    <% end %>
  <% end %>
  </div>
</div>