<!DOCTYPE html>
<html>
  <head>
    <title>GarageApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.css" type="text/css" media="all" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js"></script>
  </head>

  <body>
    <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <div class="header_logo">
        <%= image_tag "/Carson, Reeve, and Yates (5).png",class: "car_img"%>
      </div>
      <ul>
        <% if user_signed_in? %>
        <li><a class="active" href="/">Home</a></li>
        <li><%= link_to "MyGarage",user_path(current_user.id)%></li>
        <li><a href="#">Favorite</a></li>
        <li><%= link_to "post",new_tweet_path%></li>
        <li><%= link_to "Logout",destroy_user_session_path,method: :delete %></li>
        <% else %>
        <li><a href="/users/sign_in">Login</a></li>
        <% end %>
      </ul>
      </nav>
  <div class="wrapper">
    <%= yield %>
  </div>
  </body>
</html>
